<!DOCTYPE html>
<html ng-app="PaintomicsAdminSiteApp">
<head>
	<meta charset="utf-8">
	<title>PaintOmics 3 administration</title>
	<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
	<link href="lib/angular-dialogs/angular-dialogs.min.css" rel="stylesheet">

	<!--  Angular Setup -->
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="lib/angular-chart/Chart.min.js"></script>
	<script src="lib/angular-chart/angular-chart.min.js"></script>
	<script type="text/javascript">
	function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}

	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
			htmlbodyHeightUpdate()
		});
	});
	</script>
</head>
<body ng-controller="AdminController as controller">
	<nav class="navbar navbar-inverse sidebar" role="navigation" ng-mouseenter="controller.uncollapseMenuHandler()" ng-mouseleave="controller.collapseMenuHandler()">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="padding:0;">
					<span class="navbar-brand-collapsed-icon">
						<img src="resources/paintomics_150x150.png" alt="Paintomics logo" style=" width: 40px; padding-top: 20px; ">
					</span>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav" style="width: 100%;">
					<li ng-repeat="service in open_services" ng-class="(visible_services.indexOf(service) !== -1 )?'active':''"  uib-tooltip="{{service.description}}" tooltip-placement="right"  >
						<a class="clickable" ng-click="controller.changeCurrentServiceHandler(service)" style=" padding: 10px 0px; text-align: center; ">
							<span class="fa " style="display:block; font-size:22px;" ng-class="service.icon"></span>
							<span style="text-align:center; font-size:10px;">{{service.title}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="main" style="overflow-y: scroll;">
		<div ui-view></div>
	</div>
</body>
<script type="text/javascript" src="admin_app.js"></script>
<script type="text/javascript" src="controllers/systeminfo.controller.js"></script>
<script type="text/javascript" src="controllers/databases.controller.js"></script>
<script type="text/javascript" src="controllers/database-list-service.js"></script>
<script type="text/javascript" src="controllers/users.controller.js"></script>
<script type="text/javascript" src="controllers/user-list-service.js"></script>
<script type="text/javascript" src="controllers/files.controller.js"></script>
<script type="text/javascript" src="controllers/file-list-service.js"></script>
<script type="text/javascript" src="controllers/messages.controller.js"></script>
<script type="text/javascript" src="controllers/message-list-service.js"></script>
<script type="text/javascript" src="controllers/admin.dir.js"></script>
<script type="text/javascript" src="resources/common.js"></script>
<script type="text/javascript" src="lib/angular-dialogs/angular-dialogs.min.js"></script>
</html>
