<div ng-controller="SystemInfoController as controller">
	<div class=" admin-section-title-div">
		<div class="panel-body">
			<div style="margin: -9px;"><h1>PaintOmics 3 Administration</h1></div>
		</div>
	</div>
	<div class="panel panel-default col-md-12">
		<div class="panel-body" style="height:350px;">
			<h2>System information</h2>
			<div style="margin:auto; width: 800px;">
				<div style="height:250px; width:200px; margin-right:50px; display:inline-block;">
					<canvas class="chart chart-doughnut"  chart-data="cpu_load" chart-options="cpu_options" ></canvas>
				</div>
				<div style="height:250px; width:200px; margin-right:50px; display:inline-block;">
					<canvas class="chart chart-doughnut" chart-data="mem_load" chart-options="mem_options" ></canvas>
				</div>
				<div style="height:250px; width:200px; margin-right:50px; display:inline-block;">
					<canvas class="chart chart-doughnut" chart-data="swap_load" chart-options="swap_options" ></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default col-md-12">
		<div class="panel-body" style="min-height:350px;">
			<div col-md-6>
				<h2>File system</h2>
				<table class="table" style=" max-width: 1020px; margin: auto; ">
					<thead>
						<tr style="text-align:center;">
							<th>Filesystem</th>
							<th>Size</th>
							<th>Used</th>
							<th>Avail</th>
							<th>Use%</th>
							<th>Mounted on</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="disk in disk_use" >
							<td>{{disk[0]}}</td>
							<td>{{disk[1]}}</td>
							<td>{{disk[2]}}</td>
							<td>{{disk[3]}}</td>
							<td>{{disk[4]}}</td>
							<td>{{disk[5]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h2>Main tools</h2>
				<div class="well">
					<h4>Databases auto-clean</h4>
					<p>By default PaintOmics periodically cleans the data for users in the databases.</p>
					<a class="clickable btn btn-lg btn-info" ng-click="controller.sendCleanDatabasesRequest();">
						<i class="fa fa-trash-o" aria-hidden="true"></i> Clean databases now
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default col-md-12">
		<div class="panel-body">
			<h2>Messages</h2>
		</div>
	</div>
</div>
