<div ng-controller="DatabaseListController as controller">
	<div class=" admin-section-title-div">
		<div class="panel-body">
			<h1>Organisms management</h1>
			<h3>Add, update or remove organisms to PaintOmics 3</h3>
		</div>
	</div>
	<div class="store-content-div">
		<div class="panel-body">
			<div class="col-sm-4">
				<h4>Categories</h4>
				<div>
					<div class="category-chooser clickable" ng-repeat="category in categories | orderBy:categorySorter" ng-click="controller.addCategoryFilter(category)">
						<i ng-show="!category.selected" class="fa fa-square-o" aria-hidden="true"></i>
						<i ng-show="category.selected" class="fa fa-check-square-o" aria-hidden="true"></i>
						<span>{{category.name}} <span class="badge">{{category.times}}</span></span>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<h2 ng-show="isLoading === true">
					<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
				</h2>
				<div class="input-group" style="width: 100%;margin-bottom: 4px;">
					<input type="text" class="form-control" placeholder="Search for..." ng-model="searchFor" ng-enter="controller.applySearchHandler()">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="controller.applySearchHandler()">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
				<div style="margin: 10px 5px;">
					<span class="label label-default" style="margin-left:5px;" ng-repeat="item in filters">
						<span class="clickable" ng-click="controller.removeFilter(item)"> x </span>{{item}}
						</span>
				</div>
				<database-row ng-repeat="database in databases | filter:filterDatabases() | orderBy: ['status','organism_name'] | limitTo : visibleDatabases"></database-row>
				<div class="row" style="text-align: center;">
					<button class="btn btn-lg btn-success" type="button" ng-click="controller.showMoreDatabasesHandler()" ng-show="(filteredDatabases-visibleDatabases)>0">
						Show more organisms ({{filteredDatabases-visibleDatabases}} left)
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
