<div class="store-database-div clickable">
	<div class="col-sm-12">
		<div>
			<span ng-show="database.status === 'installed'" class="label label-success" style="float: right;padding: 5px;">Installed</span>
			<span ng-show="database.status !== 'installed'" class="label label-danger" style="float: right;padding: 5px;">Not installed</span>
			<span ng-show="database.downloaded === true" class="label label-primary" style="float: right;padding: 5px;">Local data available</span>
			<h4>{{database.organism_name}}</h4>
		</div>
		<div>
			<p><b>KEGG code:</b> {{database.organism_code}}</p>
			<hr>
			<div style="float: left;">
				<p><b>Accepted IDs:</b> {{database.acceptedIDs}}</p>
				<p><b>KEGG info date:</b> {{formatDate(database.kegg_date)}}</p>
				<p><b>Mapping info:</b> {{formatDate(database.mapping_date)}}</p>
				<div><span class="label label-default" ng-repeat="category in database.categories">{{category}}</span></div>
			</div>
			<div class="store-database-tools">
				<b>Options: </b>
				<span ng-show="database.downloaded === 'downloading'" style="padding: 5px;"><i class="fa fa-spinner fa-spin fa-fw"></i> Downloading...</span>
				<a ng-show="database.status === 'installed' && database.downloaded === false" ng-click="controller.installDatabaseHandler(database, true)" class="btn btn-info" style="padding: 5px;"><i class="fa fa-download" aria-hidden="true"></i> Download newer version</a>
				<a ng-show="database.status === 'installed' && database.downloaded === true" ng-click="controller.installDatabaseHandler(database)" class="btn btn-success" style="padding: 5px;"><i class="fa fa-refresh" aria-hidden="true"></i> Install newer version</a>
				<!-- <a ng-show="database.status === 'installed'" ng-click="controller.deleteDatabaseHandler(database)" class="btn btn-danger" style="padding: 5px;"><i class="fa fa-trash" aria-hidden="true"></i> Uninstall</a> -->
				<a ng-show="database.status !== 'installed' && database.downloaded === false" ng-click="controller.installDatabaseHandler(database, true)" class="btn btn-primary" style="padding: 5px;"><i class="fa fa-download" aria-hidden="true"></i> Download database</a>
				<a ng-show="database.status !== 'installed' && database.downloaded === true" ng-click="controller.installDatabaseHandler(database)" class="btn btn-success" style="padding: 5px;"><i class="fa fa-check" aria-hidden="true"></i> Install specie</a>
			</div>
		</div>
	</div>
</div>
