<div ng-controller="FileListController as controller">
	<div class=" admin-section-title-div">
		<div class="panel-body">
			<div style="margin: -9px;"><h1>PaintOmics 3 Administration</h1></div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<h1>File management</h1>
			<h3>Manage your files easily</h3>
			<div class="well">
				<p>By default PaintOmics offers some reference files to users for tools such as Bed2Genes or miRNA2Genes.</p>
				<p>You can use this panel to upload new reference files and change their metadata.</p>
				<p>Heavy files should be uploaded using other methods (e.g. using command line) and registered using these tools.</p>
			</div>
			<h2 ng-show="isLoading === true">
				<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
			</h2>
			<table class="table" style="margin: auto; ">
				<thead>
					<tr style="text-align:center;">
						<th>File name</th>
						<th>Organism</th>
						<th>Version</th>
						<th>Source</th>
						<th>Size</th>
						<th>Last login</th>
						<th>Description</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr file-row ng-repeat="file in files" ></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
