<tr>
	<td width="210px;">{{ file.fileName }}</td>
	<td width="210px;">{{ file.dataType }}</td>
	<td width="210px;">{{ file.email }}</td>
	<td width="210px;">{{ file.affiliation }}</td>
	<td width="210px;">{{ formatDate(file.creation_date) }}</td>
	<td width="210px;">{{ formatDate(file.last_login) }}</td>
	<td width="210px;">{{ file.usedSpace }}</td>
	<td width="210px;">
		<span>
			<!-- <a class="clickable" style="margin-right: 10px;" ng-click="controller.editfileHandler(file)">
				<i class="fa fa-pencil-square-o text-warning"></i> Edit
			</a> -->
			<a class="clickable" style="margin-right: 10px;" ng-click="controller.deletefileHandler(file)">
				<i class="fa fa-trash text-danger"></i> Delete
			</a>
		</span>
	</td>
</tr>
