<div ng-controller="UserListController as controller">
	<div class=" admin-section-title-div">
		<div class="panel-body">
			<h1>User management</h1>
			<h3>Manage your users easily</h3>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<h2 ng-show="isLoading === true">
				<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
			</h2>
			<table class="table" style="margin: auto; ">
				<thead>
					<tr style="text-align:center;">
						<th>User name</th>
						<th>User ID</th>
						<th>Email</th>
						<th>Affiliation</th>
						<th>Creation date</th>
						<th>Last login</th>
						<th>Used space</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr user-row ng-repeat="user in users" ></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
