<tr ng-class="(user.is_guest)?'guestUserRow':''" >
	<td width="210px;">{{ user.userName }}</td>
	<td width="210px;">{{ user.userID }}</td>
	<td width="210px;">{{ user.email }}</td>
	<td width="210px;">{{ user.affiliation }}</td>
	<td width="210px;">{{ user.creation_date }}</td>
	<td width="210px;">{{ user.last_login }}</td>
	<td width="210px;">{{ user.usedSpace }}</td>
	<td width="210px;">
		<span>
			<a class="clickable" style="margin-right: 10px;" ng-click="controller.removeUserHandler(user)">
				<i class="fa fa-stop text-danger"></i> Stop
			</a>
			<a class="clickable" style="margin-right: 10px;" ng-click="controller.editUserHandler(user)">
				<i class="fa fa-stop text-danger"></i> Stop
			</a>
		</span>
	</td>
</tr>
