<div ng-controller="UserListController as controller">
	<div class=" admin-section-title-div">
		<div class="panel-body">
			<div style="margin: -9px;"><h1>PaintOmics 3 Administration</h1></div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<h1>User management</h1>
			<h3>Manage your users easily</h3>
			<div class="well">
				<h4>Databases auto-clean</h4>
				<p>By default PaintOmics periodically cleans the data for users in the databases.</p>
				<p>Current criteria for cleaning data are:</p>
				<p><b>Max time for Guest accounts: </b> {{max_guest_days}} days</p>
				<p><b>Max time for users' jobs: </b> {{max_jobs_days}} days</p>
				<p>You can change this values in the main application settings.</p>
				<a class="clickable btn btn-sm btn-info" ng-click="controller.sendCleanDatabasesRequest();">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Clean databases now
				</a>
			</div>
			<h2 ng-show="isLoading === true">
				<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
			</h2>
			<table class="table" style="margin: auto; ">
				<thead>
					<tr style="text-align:center;">
						<th>User name</th>
						<th>User ID</th>
						<th>Email</th>
						<th>Affiliation</th>
						<th>Creation date</th>
						<th>Last login</th>
						<th>Used space</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					<tr user-row ng-repeat="user in users" ></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
